<div class="fitnesspal jumbotron text-center">
  <h2>Welcome to the world of Angular!</h2>
  <p style="text-align: left;">This is modern Single Page Application(SPA) developed using the awesome framework Angular2 with lot of love by <a href="http://offloadmemory.com">OffloadMemory</a>. As part of this we have also included Login and Logout options using <a href="https://auth0.com">Auth0</a>. To view remaining awesome pages, please click the Login button below.</p>
  <button class="btn btn-lg btn-success" (click)=authService.login()>Login</button>
</div>